* {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2f7c0b;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.container{
    display: contents;
    flex-direction: column;
    width: 25vw;
    text-align: center;
    align-items: center
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #2f2003;
  width: 25vw;
  text-align: center;
  align-items: center
}

h1, p {
    text-align: center;
}

button {
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: rgb(87, 84, 96);
    color: white;
    border-radius: 0.25em;
}

button:hover {
    cursor: pointer;
    background-color: rgb(139, 133, 159); 
    box-sizing: border-box;
}